:root {
    --blanco:#FFFFFF;
    --color-contraste:#090809;
    --color-fondo:#ff2d2d;
    --color-primario:#ff4d3c;
    --color-secundario:#e8897e;
    --color-terciario:#ff6a5c;
    --color-copiado: #5cff61;
}