<head>
    <link rel="stylesheet" href="../../static/core/css/dropdown.css">
    <link rel="stylesheet" href="../../static/core/css/colors.css">
</head>


<body>
    <div class="dropdown">
    
        <div class="select">
            <span class="selected">Temporadas</span>
            <div class="caret"></div>
        </div>

        <div class="menu">
            <input type="text" class="search" placeholder="Filtrar...">

            <ul class="options">
                <li data-value="Todas">Todas</li>
                <li data-value="E26">E26</li>
                <li data-value="H26">H26</li>
            </ul>

            <div class="actions">
                <button class="clear">Limpiar</button>
            </div>
        </div>

    </div>

</body>