<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../../static/core/css/styles.css">
    <link rel="stylesheet" href="../../static/core/css/colors.css">
</head>

<script src="../../static/js/movimientos.js"></script>

<body>

   <div class="movimientos_bg">
        <!-- SIDEBAR -->
        <div class="sidebar">
            <h2>RECEPTORES</h2>
            <ul class="receptores">
                <li class="active">Preciados</li>
                <li>Sanchinarro</li>
                <li>Princesa</li>
                <li>Pozuelo</li>
                <li>Goya</li>
                <li>Bercial</li>
            </ul>
        </div>

        <!-- CONTENIDO -->
        <div class="contenido">

            <!-- CABECERA -->
            <div class="resumen">
                <div class="box enviar active">
                    <strong>54</strong>
                    <span>A ENVIAR</span>
                </div>

                <div class="box recibir">
                    <strong>35</strong>
                    <span>A RECIBIR</span>
                </div>
            </div>

            <!-- GRID -->
            <div class="grid">

                <div class="card_producto">
                    <!-- ICONO IZQUIERDA -->
                    <img src="https://content.morgandetoi.fr/el-corte-ingles/1105840-931-F.jpg" class="product_img">

                    <!-- INFO -->
                    <div class="info">
                        <div class="top">
                            <strong>261-RELOW</strong>
                            <span class="ref" data-text="1105804">1105804</span>
                        </div>

                        <div class="middle">
                            <strong>MARINE/OFF WHITE</strong>
                            <span class="ref" data-text="926">926</span>
                        </div>

                        <div class="bottom">
                            2XL, L, 2M, S
                        </div>
                    </div>
                </div>

                                <div class="card_producto">
                    <!-- ICONO IZQUIERDA -->
                    <img src="https://content.morgandetoi.fr/el-corte-ingles/1105840-931-F.jpg" class="product_img">

                    <!-- INFO -->
                    <div class="info">
                        <div class="top">
                            <strong>261-RELOW</strong>
                            <span class="ref" data-text="1105804">1105804</span>
                        </div>

                        <div class="middle">
                            <strong>MARINE/OFF WHITE</strong>
                            <span class="ref" data-text="926">926</span>
                        </div>

                        <div class="bottom">
                            2XL, L, 2M, S
                        </div>
                    </div>
                </div>

                                <div class="card_producto">
                    <!-- ICONO IZQUIERDA -->
                    <img src="https://content.morgandetoi.fr/el-corte-ingles/1105840-931-F.jpg" class="product_img">

                    <!-- INFO -->
                    <div class="info">
                        <div class="top">
                            <strong>261-RELOW</strong>
                            <span class="ref" data-text="1105804">1105804</span>
                        </div>

                        <div class="middle">
                            <strong>MARINE/OFF WHITE</strong>
                            <span class="ref" data-text="926">926</span>
                        </div>

                        <div class="bottom">
                            2XL, L, 2M, S
                        </div>
                    </div>

                </div>
                
            </div>
        </div>

    </div>

    <!-- CODIGO PARA MOSTRAR LA IMAGEN DEL PRODUCTO EN GRANDE -->
    <div id="modal" class="modal">
        <span id="close">&times;</span>
        <img id="modal_img">
    </div>
</body>
