<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../../static/core/css/styles.css">
    <link rel="stylesheet" href="../../static/core/css/colors.css">
</head>


<div class="card_producto">
    
    <!-- ICONO IZQUIERDA -->
    <div class="product_img">
        👕
    </div>

    <!-- INFO -->
    <div class="info">
        <div class="top">
            <strong>251-DIDOA</strong>
            <span class="ref">101546</span>
        </div>

        <div class="middle">
            Noir M <span>979</span>
        </div>

        <div class="bottom">
            2XL, L, 2M, S
        </div>
    </div>

    <!-- ICONO DERECHA -->
    <div class="copiar">
        📄
    </div>


</div>

